.fade-out {
    transition: opacity 3s ease;
    opacity: 0;
}

#settings-success {
    padding: 12px 24px;
    background-color: #2e8b57;
    max-width: min-content;
    white-space: nowrap;
    color: white;
    position: fixed;
    bottom: 60px;
    right: 48px;
    font-size: 24px;
    border-radius: 6px;
}
